/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --accent-color-opacity: #ff007066;
  --text-color: #f1b2ce;
  --decoration-color: var(--accent-color);
  --background-color: #000028;
  --header-color: #db00ff;
  --border-button: #ff0070;
  --title-color: #000028;
  --title-section: #ff0070;
  --header-subtitle-color: var(--title-color);
  --decoration-light: visible;
  --hover-border:#FF007066;
  --border-link:#F1B2CE;
}
