/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --accent-color-opacity: #32312d66;
  --text-color: var(--title-color);
  --decoration-color: var(--text-color);
  --background-color: #fff1f7;
  --title-color: #353430;
  --title-section: var(--title-color);
  --header-subtitle-color: var(--title-color);
  --decoration-light: hidden;
  --border-button:#353430;
  --header-color:#FFC2E6;
  --hover-border:#32312D66;
  --border-link:#353430;
}
@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --accent-color-opacity: #32312d66;
    --text-color: var(--title-color);
    --decoration-color: var(--text-color);
    --background-color: #fff1f7;
    --title-color: #353430;
    --title-section: var(--title-color);
    --header-subtitle-color: var(--title-color);
    --decoration-light: hidden;
    --border-button:#353430;
    --header-color:#FFC2E6;
    --hover-border: #32312D66;
    --border-link:#353430;
  }
}
