/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family);
  background-color: var(--background-color);
  background-image: var(--background-image);
}
.decorated-zone::before {
  align-self: flex-start;
  justify-self: end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
}
.decorated-zone::after {
  justify-self: start;
  align-self: flex-end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decoration-color);
  border-inline-start: 1px solid var(--decoration-color);
}
.header {
  padding: 0;
  height: 100vh;
  padding: 10px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  align-items: center;
  min-height: 668px;
}
.header__decoration-dark {
  align-self: flex-start;
  justify-self: end;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  block-size: 25px;
  justify-self: end;
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 25px;
}
.header__decoration-dark::after {
  align-self: center;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  margin-inline-end: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
}
.header__theme-menu {
  grid-column: 1 / 3;
  justify-self: end;
}
.header__theme-menu-list {
  display: grid;
  gap: 10px;
  font-family: var(--font-family);
  margin-block-start: -62px;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  text-transform: lowercase;
  color: var(--decoration-color);
  cursor: pointer;
}
.header__theme-menu-button:focus-visible{
  border-bottom: 1px solid var(--accent-color);
}
.header__theme-menu-button:hover{
  border:1px solid #FF007066
}
.header__title {
  font-family: "IBM Plex Mono", monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--header-color);
  grid-column: 1 / 3;
  justify-self: start;
  line-height: 83%;
  font-size: 116px;
  font-weight: 700;
  font-style: bold;
  letter-spacing: 0%;
  gap: 20px;
}
.title-decor {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;

  line-height: 23.4px;
  letter-spacing: 0%;
}
.header__description {
  font-family: var(--font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  justify-self: end;
  min-height: 117px;
  color:var(--header-subtitle-color);
}
.main {
  display: grid;
  row-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}
.section {
  grid-column: 1 / 4;
  min-inline-size: 375px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}
.section__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  color: var(--title-section);
  line-height: 23.4px;
  letter-spacing: 0%;
}
.card__title {
  margin-block-start: 20px;
  margin-block-end: 10px;
  block-size: 23px;
  color:var(--title-color)
}
.card__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color:var(--text-color)
}
.card__text-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  line-height: 23.4px;
  letter-spacing: 0%;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.card__text-link:focus-visible{
  border: 1px solid var(--border-link);
}
.card__text-link:hover{
  border-bottom: 1px solid var(--text-color);
}
.card .card__subtitle {
  margin-block-start: 20px;
  margin-block-end: 10px;
}
.card__title-picture {
  margin-block-end: 10px;
  color:var(--title-color)
}
.gallery {
  display: grid;
  gap: 10px;
}
.picture {
  width: 100%;
  height: 100%;
}
.picture:last-child {
  margin-block-end: 40px;
}
.footer {
  display: grid;
  min-block-size: 668px;
  align-items: center;
  justify-content: center;
}
.footer__title {
  text-shadow: 2px 2px var(--accent-color);
}

@media (width >= 768px) {
  .header {
    display: grid;
    block-size: 1024px;
  }
  .header__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-style: Bold;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 83%;
    letter-spacing: 0%;
  }
  .header__description {
    inline-size: min-content;
    min-inline-size: 364px;
  }
  .main {
    display: grid;
    margin-block: 60px;
    row-gap: 80px;
  }
  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .section__title {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
  .section:nth-child(2) .card {
    grid-column: 1 / 4;
  }
  .gallery {
    grid-column: 1 / 4;
    gap: 20px;
  }
  .card__title-picture {
    grid-column: 1 / 4;
  }
  .picture {
    object-fit: cover;
    object-position: center;
  }
  .picture:nth-child(1) {
    grid-column: 1 / 3;
  }
  .picture:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .picture:nth-child(3) {
    grid-row: 2 / 4;
  }
  .picture:nth-child(5) {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }
  .footer {
    block-size: 1024px;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
@media (width >= 1024px) {
  .header {
    block-size: 768px;
  }
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header__description {
    min-inline-size: 491px;
    grid-column: 2 / 4;
  }
  .section__container {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    gap: 20px;
    grid-column: 1 / 4;
    margin-inline: 10px;
  }
  .card__special {
    grid-column: span 1;
    padding-block-start: 20px;
    padding-inline-end: 0;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header__theme-menu {
    justify-self:center ;
    align-self: start;
    margin-block-start: 60px;
  }
  .header__theme-menu-list {
    grid-auto-flow: column;
  }
}
