/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-attachment: fixed;
  background-color: #00022e;
}
.header {
  display: grid;
  height: 100vh;
  min-height: 668px;
  position: relative;
}
.header__theme-menu {
  justify-self: end;
  align-self: start;
  grid-row: 1;
}
.header__title {
  font-family: "IBM Plex Mono", monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  max-width: max-content;
  color:#DB00FF;
}
.title-decor {
  background-color: #ff0070;
  color: #000028;
}
.header__subtitle {
 font-family: "IBM Plex Mono", monospace;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 23.4px;
letter-spacing: 0%;
min-width: 355px;
max-width: 491px;
height: min-content;
justify-self: end;

}
.section {
  min-width: 375px;
  max-width: 1024px;

}
.section__title {
  color: #ff0070;

  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}
.card__title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}
.card__text {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style:Regular;
  font-size: 18px;
  color:#F1B2CE;

  line-height: 23.4px;
  letter-spacing: 0%;
}
.card__text-link{
  text-decoration: none;
  text-shadow: 4px 4px 0 var(--accent-color);
  color:#F1B2CE;
}
