/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.decorated-zone::before {
  align-self: flex-start;
  justify-self: end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
}
.decorated-zone::after {
  justify-self: start;
  align-self: end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decoration-color);
  border-inline-start: 1px solid var(--decoration-color);
  margin-block-end: 195px;
}
.header {
  height: 100vh;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  align-items: center;
}
.header__decoration-dark {
  align-self: flex-start;
  justify-self: end;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  block-size: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
  visibility: var(--decoration-light);
  line-height: 25px;

}
.header__decoration-dark::after {
  align-self: center;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  margin-inline-end: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #FF0070;
}
.header__theme-menu {
  grid-column: 1 / 3;
  justify-self: end;
}
.header__theme-menu-list {
  display: grid;
  gap: 10px;
  font-family: var(--font-family);
  margin-block-start: -147px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  text-align: center;
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  text-transform: lowercase;
  color: var(--decoration-color);
  cursor: pointer;
}
.header__theme-menu-button:focus-visible {
  border-bottom: 0.1px solid var(--border-button);
  outline: none;
}
.header__theme-menu-button:hover {
  outline:none;
  border: 1px solid #FF007066
}
.header__title {
  font-family: var(--font-family);
  font-size: var(--header-title-for-mobile);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--header-color);
  grid-column: 1 / 3;
  justify-self: start;
  line-height: 83%;
  font-weight: 700;
  gap: 20px;
  margin-block-start: -190px;
}
.title-decor {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}
.header__description {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  justify-self: end;
  margin-block-start: -220px;
  color: var(--header-subtitle-color);

  grid-column: 1 / 4;
}
.main {
  display: grid;
  row-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}
.section {
  grid-column: 1 / 4;
  min-inline-size: 375px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  margin-block-start: -155px;
}
.concentration-factors {
  margin-block-start: -20px;
}
.concentration-tips {
  margin-block-start: -20px;
}
.section__title {
  margin-block-end: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--title-section);
  line-height: 23.4px;
}
.card__title {
  color: var(--title-color);
  margin-inline: 10px;
}
.card__text {
  font-family: var(--font-family);
  font-weight: 400;
  margin-block-start: 10px;
  margin-block-end: 20px;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}
.card__text-link {
  font-family: var(--font-family);
  font-weight: 400;

  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  line-height: 23.4px;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.card__text-link:focus-visible {
  border: 1px solid var(--border-link);
  outline: none;
}
.card__text-link:hover {
  border-bottom: 1px solid var(--text-color);
}
.card .card__subtitle {
  margin-block-start: 20px;
  margin-block-end: 10px;
}
.card__title-picture {
  margin-block-end: 10px;
  color: var(--title-color);
}
.gallery {
  display: grid;
  gap: 10px;
}
.picture {
  width: 100%;
  height: 100%;
}
.pictures {
  margin-block-start: -20px;
}
.picture:last-child {
  margin-block-end: 40px;
  height: 100%;
}
.footer {
  display: grid;
  min-block-size: 668px;
  margin-block-start: 95px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.footer__title {
  text-shadow: 2px 2px var(--accent-color);
  color: var(--header-color);
  font-size: var(--header-title-for-mobile);
}

@media (width >= 768px) {
  .header__title {
    font-size: var(--header-title-for-desktop);
    margin-block-end: -350px;
    margin-inline-start: -10px;
  }
  .header__decoration-dark {
    margin-block-start: 10px;
    margin-inline-end: 10px;
  }

  .header__description {
    grid-column: 2 / 4;
    height: 28%;
    min-inline-size: 364px;
    margin-block-start: 280px;
  }
  .decorated-zone::after {
    margin-block-end: -152px;
    margin-inline-start: 10px;
  }
  .header__theme-menu-list {
    margin-block-start: 40px;
    margin-inline-end: 10px;
  }
  .main {
    margin-block: 60px;
    row-gap: 80px;
  }
  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-block-start: 160px;
    margin-inline-start: 10px;
  }
  .section__title {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    padding: 10px;
    margin-block-start: -10px;
    margin-inline-start: -10px;
  }
  .concentration-factors {
    margin-block-start: -20px;
  }
  .concentration-tips .card__subtitle {
    margin-inline: 10px;
  }
  .column .card {
    margin-block-start: -3px;
  }
  .columns {
    grid-column: 1 / 4;
  }
  .concentration-tips {
    margin-block-start: -20px;
  }
  .concentration-tips .card__text:nth-of-type(1) {
    padding-inline: 10px;
  }
  .concentration-tips .card__text:nth-of-type(2) {
    padding-inline: 10px;
  }
  .concentration-tips .card__text:nth-of-type(3) {
    padding-inline: 10px;
  }
  .concentration-tips .card__text:nth-of-type(4) {
    padding-inline: 10px;
  }
  .concentration-tips .card__text:nth-of-type(5) {
    padding-inline: 10px;
  }
  .pictures {
    margin-block-start: -20px;
  }
  .gallery {
    grid-column: 1 / 4;
    gap: 20px;
    margin-block-start: 10px;
    padding-right: 10px;
  }
  .card__title-picture {
    grid-column: 1 / 4;
  }
  .picture {
    object-fit: cover;
    object-position: center;
  }
  .picture:nth-child(1) {
    grid-column: 1 / 3;
  }
  .picture:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .picture:nth-child(3) {
    grid-row: 2 / 4;
    block-size: 568px;
  }
  .picture:nth-child(5) {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    block-size: 310px;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-start: 230px;
  }
}
@media (width >= 1024px) {
  .header__description {
    min-inline-size: 491px;
    grid-column: 2 / 4;
    margin-block-start: -86px;
    height: min-content;
  }
  .header__title {
    margin-block-start: -440px;
  }

  .decorated-zone::before {
    margin-block-start: 10px;
    margin-inline-end: 10px;
  }
  .decorated-zone::after {
    margin-block-end: 104px;
  }
  .section {
    margin-block-start: -95px;
  }
  .concentration-factors {
    margin-block-start: -18px;
  }
  .columns .card__title {
    margin-inline-start: 5px;
  }
  .columns {
    display: flex;
    justify-content: start;
    margin-block-start: -10px;
  }

  .column {
    flex: 1;
  }

  .column:last-child {
    margin-right: 0;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: 70px;
  }
  .header__theme-menu-list {
    margin-block-start: -63px;
    margin-inline-start: 10px;
    grid-auto-flow: column;
  }
  .concentration-tips {
    margin-block-start: 6px;
    margin-inline-start: 0px;
  }
  .concentration-tips .section__title {
    margin-inline-start: 0px;
  }
  .pictures {
    margin-block-start: -20px;
  }
  .picture:nth-child(3) {
    block-size: 768px;
  }
  .picture:nth-child(5) {
    block-size: 433px;
  }
  .footer__title {
    margin-block-start: -49px;
  }
}
