/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --decoration-color: var(--accent-color);
  --background-color: #000028;
  --font-family: "IBM Plex mono", monospace;
  --header-color: #db00ff;
  --title-color: #000028;
  --title-section: var(--accent-color);
  --header-subtitle-color: var(--title-color);
  --border-button: #ff0070;
  --header-title-for-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-title-for-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --decoration-light: visible;
}
